           #pageone{
            background-image: url(../images/index.jpg);
            background-size: cover;
            }
            #col{
                background-color: rgba( 0,0,0,0.05);
            }
            #one{
                width: 20%;
                height: 180px;
                border-radius: 10px;
                background-color: rgba(  0,0,255,0.3);
                float: left;
                margin-left: 15%;
            }
            #two{
                width: 20%;
                height: 180px;
                border-radius: 10px;
                background-color: rgba(  0,0,255,0.3);
                float: left;
                margin-left: 6%;
            }
            #three{
                width: 20%;
                height: 180px;
                border-radius: 10px;
                background-color: rgba(  0,0,255,0.3);
                float: left;
                margin-left: 6%;
            }
            #cont{
                text-align: center;
                font-size: 22px;
            }
            #cont p{
                color: black;
            }
            