 #col{
                /*background-color: #99FF99;*/
                background:rgba(0,0,0,0.1);
            }
            #pageone{
                background-image: url(../images/tiaozhan.jpg);
                background-repeat: no-repeat;
                background-size: cover;
            }
            #wenzi{
                width: 90%;
                height: 50px;
                margin: 0 auto;
            }
            #watch{
                width:80%;height:400px;
                background-image:url(../images/watchbg.gif) ;
                margin:0 auto;margin-top: 2%;
                background-repeat: no-repeat;

            }
            #watch a{
                text-decoration: none;
                color: black;
            }
            #gushi{
                width:30%;height:90px;float:left;margin-top:19%;margin-left:19%;
            }
            #shuxue{
                width:30%;height:90px;float:left;margin-top:27%;margin-left:10%;
            }
            #yingyu{
                width:30%;height:90px;float:left;margin-top:27%;margin-left:19%;
            }
            #chengyu{
                width:30%;height:90px;float:left;margin-top:19%;margin-left:10%;
            }
            