
/*mine*/
.ui-bar-f
{
background-color:#90EE90;
}
.imgtest{margin:10px 5px;
overflow:hidden;}
.list_ul figcaption p{
font-size:12px;
color:#aaa;
}
.imgtest figure div{
display:inline-block;
margin:5px auto;
width:100px;
height:100px;
border-radius:100px;
border:2px solid #fff;
overflow:hidden;
-webkit-box-shadow:0 0 3px #ccc;
box-shadow:0 0 3px #ccc;
}
.imgtest img{width:100%;
min-height:100%; text-align:center;}
.imgtest{text-align: center;}
.content{width:80%;margin:0px auto;}
.shezhi{border-radius:10px}
.nicheng{text-align:center}

/*settings*/
.quit{float: right;}
a:link{text-decoration:none; }
.word{font-size: 13px}
.fanhui{border-radius:10px}
.lo{text-align:center}
.you{float:right}

