
 <div id="dcMain"> <!-- 当前位置 -->
<div id="urHere"><a href="__MODULE__/Index/index.html">首页</a><b>></b><strong>故事管理</strong> </div>   <div id="manager" class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
    <h3><a href="__MODULE__/Story/lists" class="actionBtn">返回列表</a>故事列表</h3>

    <form action="__MODULE__/Story/doAdd" method="post">
     <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
      <tr>
       <td width="80" align="center">故事名称</td>
       <td>
        <input type="text" name="storytitle" value="" size="40" class="inpMain" />
       </td>
      </tr>
      <tr>
       <td align="center">故事内容</td>
       <td>
        <textarea name="storycontent" cols="60" rows="4" class="textArea"></textarea>
       </td>
      </tr>
      <tr>
       <td align="center">添加时间</td>
       <td>
        <input type="text" name="addtime" value="{:date('Y-m-d H:i:s')}" size="5" class="inpMain" />
       </td>
      </tr>
      <tr>
       <td></td>
       <td>
        <input type="hidden" name="token" value="25bfda40" />
        <input type="hidden" name="cat_id" value="" />
        <input name="submit" class="btn" type="submit" value="提交" />
       </td>
      </tr>
     </table>
    </form>
                 
 </div>

 <div class="clear"></div>


<div class="clear"></div> </div>

</body>
</html>