
 <div id="dcMain"> <!-- 当前位置 -->
<div id="urHere"><a href="__MODULE__/Index/index.html">首页</a><b>></b><strong>管理员管理</strong> </div>   <div id="manager" class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
    <h3><a href="__MODULE__/Admin/manager" class="actionBtn">返回列表</a>网站管理员</h3>
    
    <form action="__MODULE__/Admin/update" method="post">
      <input type="hidden" name="adminid" value="{$manager.adminid}">

      <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
      <tr>
       <td width="100" align="center">管理员名称</td>
       <td>
        <input type="text" name="adminname" size="40" class="inpMain" value="{$manager.adminname}"/>
       </td>
      </tr>
      <tr>
       <td width="100" align="center">手机号</td>
       <td>
        <input type="text" name="admintelephone" size="40" class="inpMain" value="{$manager.admintelephone }"/>
       </td>
      </tr>
      
      <tr>
       <td align="center">密码</td>
       <td>
        <input type="password" name="adminpass" size="40" class="inpMain" value="{$manager.adminpass }"/>
       </td>
      </tr>
      <tr>
       <td align="center">确认密码</td>
       <td>
        <input type="password" name="adminrepass" size="40" class="inpMain" value="{$manager.adminrepass }"/>
       </td>
      </tr>
      <tr>
       <td align="center">添加时间</td>
       <td>
        <input type="text" name="jointime" value="{$manager.jointime}" size="5" class="inpMain" />
       </td>
      </tr>
      <tr>
       <td></td>
       <td>
        <input type="submit" name="submit" class="btn" value="提交" />
       </td>
      </tr>
     </table>
    </form>
                 
 </div>

 <div class="clear"></div>


<div class="clear"></div> </div>

</body>
</html>