
 <div id="dcMain">
   <!-- 当前位置 -->
<div id="urHere">
    <a href="__MODULE__/Index/index.html">首页</a>
    <b>></b><strong>管理员管理</strong> </div>   
    <div id="manager" class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
    <h3>网站管理员</h3>
    <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
     <tr>
     <th><input name='chkall' type='checkbox' id='chkall' onclick='selectcheckbox(this.form)' value='check'></th>
      <th width="60" align="center">ID</th>
      <th align="center">管理员名称</th>
      <th align="center">手机号</th>
      <th align="center">添加时间</th>
      <th align="center">最后登录时间</th>
      <th align="center">操作</th>
     </tr>
    <volist name="manager" id="m" offset="0" length='1'>
    
    <tr>
      <td align="center"><input type="checkbox" name="managerId[]" value="{$m.adminid}" /></td>
      <td align="center">{$m.adminid}</td>
      <td align="center">{$m.adminname}</td>
      <td align="center">{$m.admintelephone}</td>
      <td align="center">{$m.jointime}</td>
      <td align="center">{:date('Y-m-d H:i:s')}</td>
      <td align="center"><a href="__MODULE__/Admin/editmanager/managerId/{$m.adminid}">编辑</a>
      </td>
    </tr>
    </volist>
    </table>
                      
 </div>

 <div class="clear"></div>

<div class="pager">
        总计 5 个记录，共 1 页，当前第 1 页 |
    <a href="book.html">第一页</a> 上一页 下一页 <a href="book.html">最末页</a>  
    </div>                       
  </div>

