
<div id="dcMain"> <!-- 当前位置 -->
<div id="urHere"><a href="__MODULE__/Index/index.html">首页</a><b>></b><strong>挑战管理</strong> </div>   <div id="manager" class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
    <h3><a href="__MODULE__/Challenge/lists" class="actionBtn">返回列表</a>编辑题目</h3>

    <form action="__MODULE__/Challenge/update" method="post">

    <input type="hidden" name="challengeid" value="{$challenge.challengeid}">
     <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
      <tr>
       <td align="center">挑战类型</td>
       <td>
        <select name="ccid" value="challenge.ccid">
          <volist name="data" id="t">
            
              <option value="{$t.ccid}">- {$t.typeccname}</option>
          </volist>     
      </tr>
      <tr>
          <td align="center">题目</td>
          <td>
            <input type="text" name="challengename" size="40" class="inpMain" value="{$challenge.challengename}" />
          </td>
        </tr>
      <tr>
       <td align="center">内容</td>
       <td>
        <textarea name="challengecontent" cols="60" rows="4" class="textArea">{$challenge.challengecontent}</textarea>
       </td>
      </tr>
      <tr>
       <td align="center">答案</td>
       <td>
        <select name="cat_id">
         <option value="0">A</option>
                  <option value="1">B</option>
                  <option value="2">C</option>
                  <option value="3">D</option>
      </tr>
      <tr>
       <td align="center">修改时间</td>
       <td>
        <input type="text" name="addtime" value="{:date('Y-m-d H:i:s')}" size="5" class="inpMain" />
       </td>
      </tr>
      <tr>
       <td></td>
       <td>
        <input type="hidden" name="token" value="25bfda40" />
        <input type="hidden" name="cat_id" value="" />
        <input name="submit" class="btn" type="submit" value="提交" />
       </td>
      </tr>
     </table>
    </form>
                 
 </div>

 <div class="clear"></div>

<div class="clear"></div> </div>

</body>
</html>