
 <div id="dcMain">
   <!-- 当前位置 -->
<div id="urHere"><a href="index.html">首页</a><b>></b><strong>分享管理</strong> </div>   
<div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
        <h3><a href="add_share.html?rec=add" class="actionBtn add">添加分享</a>分享列表</h3>
  
        <div id="list">
    <form name="action" method="post" action="#">
    <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
      <tr>
        <th width="" align="center"><input name='chkall' type='checkbox' id='chkall' onclick='selectcheckbox(this.form)' value='check'></th>
        <th width="" align="center">ID</th>
        <th align="center">分享人</th>
        <th width="" align="center">内容</th>
        <th width="" align="center">添加日期</th>
        <th width="" align="center">操作</th>
      </tr>

      <tr>
        <td align="center"><input type="checkbox" name="checkbox[]" value="15" /></td>
        <td align="center">5</td>
        <td align="center"><a href="product.php?rec=edit&id=5">XXX</a></td>
        <td align="center">XXXXXXXXXXXXXXXXXX</a></td>
        <td align="center">2013-06-26</td>
        <td align="center">
        <a href="edit_share.html">编辑</a> | <a href="#">删除</a>
        </td>
      </tr>

      <tr>
        <td align="center"><input type="checkbox" name="checkbox[]" value="15" /></td>
        <td align="center">4</td>
        <td align="center"><a href="product.php?rec=edit&id=5">XXX</a></td>
        <td align="center">XXXXXXXXXXXXXXXXXX</a></td>
        <td align="center">2013-06-26</td>
        <td align="center">
        <a href="edit_share.html">编辑</a> | <a href="#">删除</a>
        </td>
      </tr>

       <tr>
        <td align="center"><input type="checkbox" name="checkbox[]" value="15" /></td>
        <td align="center">3</td>
        <td align="center"><a href="product.php?rec=edit&id=5">XXX</a></td>
        <td align="center">XXXXXXXXXXXXXXXXXX</a></td>
        <td align="center">2013-06-26</td>
        <td align="center">
        <a href="edit_share.html">编辑</a> | <a href="#">删除</a>
        </td>
      </tr>

       <tr>
        <td align="center"><input type="checkbox" name="checkbox[]" value="15" /></td>
        <td align="center">2</td>
        <td align="center"><a href="product.php?rec=edit&id=5">XXX</a></td>
        <td align="center">XXXXXXXXXXXXXXXXXX</a></td>
        <td align="center">2013-06-26</td>
        <td align="center">
        <a href="edit_share.html">编辑</a> | <a href="#">删除</a>
        </td>
      </tr>

       <tr>
        <td align="center"><input type="checkbox" name="checkbox[]" value="15" /></td>
        <td align="center">1</td>
        <td align="center"><a href="product.php?rec=edit&id=5">XXX</a></td>
        <td align="center">XXXXXXXXXXXXXXXXXX</a></td>
        <td align="center">2013-06-26</td>
        <td align="center">
        <a href="edit_share.html">编辑</a> | <a href="#">删除</a>
        </td>
      </tr>

                

      </table>
    </form>
    </div>
    <div class="clear"></div>
    <div class="pager">总计 5 个记录，共 1 页，当前第 1 页 | <a href="product.php?page=1">第一页</a> 上一页 下一页 <a href="product.php?page=1">最末页</a></div>               </div>
 </div>

 <div class="clear"></div>


<div class="clear"></div> </div>

</body>
</html>