
 <div id="dcMain">
   <!-- 当前位置 -->
<div id="urHere"><a href="index.html">首页</a><b>></b><strong>分享管理</strong> </div>   
<div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
        <h3>分享列表</h3>
  
        <div id="list">
    <form action="__MODULE__/Share/delete">
    <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
      <tr>
        <th width="" align="center"><input name='chkall' type='checkbox' id='chkall' onclick='selectcheckbox(this.form)' value='check'></th>
        <th width="" align="center">ID</th>
        <th align="center">分享人</th>
        <th width="" align="center">内容</th>
        <th width="" align="center">添加日期</th>
        <th width="" align="center">操作</th>
      </tr>
      <volist name="sharelist" id="vo">
      <tr>
        <td align="center"><input type="checkbox" name="shareid[]" value="{$vo.shareid}" class="checkbox"/></td>
        <td align="center">{$vo.shareid}</td>
        <td align="center">{$vo.username}</td>
        <td align="center">{$vo.content|mb_substr=0,8,'utf-8'}</td>
      
        <td align="center">{$vo.addtime}</td>
        <td align="center">
        <a href="__MODULE__/Share/lookshare?id='{$vo['shareid']}'">查看</a> | <a href="__MODULE__/Share/delete/shareid/{$vo.shareid}">删除</a>
      </tr>
      </volist>     

      </table>
      <br/>
      <div class="input-group pull-left form">
        <button type="submit" class="btn btn-danger" style="background-color:#20B2AA;"> 批量删除</button>
      </div>
    </form>
    </div>
    <div class="clear"></div>
    <div class="pager">{$page}</div>               
    </div>
 </div>

 <div class="clear"></div>


<div class="clear"></div> </div>

</body>
</html>