
 <div id="dcMain">
   <!-- 当前位置 -->
<div id="urHere"><a href="__MODULE__/Index/index.html">首页</a><b>></b><strong>评论管理</strong> </div>   
<div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
    <h3>评论列表</h3>

    <div id="list">
    <form action="__MODULE__/Comment/delete">
    <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
      <tr>
        <th width="" align="center"><input name='chkall' type='checkbox' id='chkall' onclick='selectcheckbox(this.form)' value='check'></th>
        <th width="" align="center">ID</th>
         <th align="center">分享名</th>
        <th align="center">评论人</th>
        <th width="" align="center">内容</th>
        <th width="" align="center">添加日期</th>
        <th width="" align="center">操作</th>
      </tr>
      <volist name="list" id="vo">
      <tr>
        <td align="center"><input type="checkbox" name="id[]" value="{$vo.commentid}" /></td>
        <td align="center">{$vo.commentid}</td>
        <td align="center">{$vo.title}</td>
        <td align="center">{$vo.commentuserid}</td>
        <td align="center">{$vo.commentcontent}</td>
        <td align="center">{$vo.commenttime}</td>
        <td align="center">
        <a href="__MODULE__/Comment/edit?id='{$vo['commentid']}'">查看</a> | <a href="__MODULE__/Comment/delete?id='{$vo['commentid']}'">删除</a>
        </td>
      </tr>
      </volist>
      </table>
      <br/>
        <div class="input-group pull-left form">
            <button type="submit" class="btn" style="background-color:#20B2AA;">批量删除</button>
        </div>
    </form>
    </div>
    <div class="clear"></div>
    <div class="pager">
    {$page}
    </div>               
    </div>
 </div>

 <div class="clear"></div>

<div class="clear"></div> </div>

</body>
</html>