
 <div id="dcMain">
   <!-- 当前位置 -->
<div id="urHere"><a href="__MODULE__/Index/index.html">首页</a><b>></b><strong>积分管理</strong> </div>   
<div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
        <h3>积分列表</h3>
  
        <div id="list">
    <form action="__MODULE__/Integral/delete">
    <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
      <tr>
        <th width="" align="center"><input name='chkall' type='checkbox' id='chkall' onclick='selectcheckbox(this.form)' value='check'></th>
        <th width="" align="center">ID</th>
        <th align="center">用户名</th>
        <th width="" align="center">积分</th>
        <th width="" align="center">名次</th>
        <th width="" align="center">日期</th>
        <th width="" align="center">操作</th>
      </tr>
      <volist name="integrallist" id="vo">
      <tr>
        <td align="center"><input type="checkbox" name="integralid[]" value="{$vo.integralid}" class="checkbox"/></td>
        <td align="center">{$vo.integralid}</td>
        <td align="center">{$vo.username}</td>
        <td align="center">{$vo.integralquantity}</td>
        <td align="center">{$vo.ranking}</td>
        <td align="center">{$vo.addtime}</td>
        <td align="center">
        <a href="__MODULE__/Integral/lookintegral?id='{$vo['integralid']}'">查看</a> | <a href="__MODULE__/Integral/delete/integralid/{$vo.integralid}">删除</a>
        </td>
        </td>
      </tr>
      </volist>

      </table>
      <br/>
      <div class="input-group pull-left form">
        <button type="submit" class="btn btn-danger" style="background-color:#20B2AA;"> 批量删除</button>
      </div>
    </form>
    </div>
    <div class="clear"></div>
    <div class="pager">{$page}</div>               
    </div>
 </div>

 <div class="clear"></div>


<div class="clear"></div> </div>

</body>
</html>