
 <div id="dcMain"> <!-- 当前位置 -->
<div id="urHere"><a href="__MODULE__/Index/index.html">首页</a><b>></b><strong>用户管理</strong> </div>   <div id="manager" class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
    <h3><a href="__MODULE__/Integral/lists.html" class="actionBtn">返回列表</a>用户列表</h3>
    <form action="__MODULE__/Integral/lists" method="post">
     <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
      <tr>
       <td width="100" align="center">用户名</td>
       <td>
        <input type="text" name="user_name" size="40" class="inpMain" />
       </td>
      </tr>
      
      <tr>
       <td align="center">积分</td>
       <td>
        <input type="text" name="integral" size="40" class="inpMain" />
       </td>
      </tr>
      <tr>
       <td align="center">名次</td>
       <td>
        <input type="text" name="rank" size="40" class="inpMain" />
       </td>
      </tr>
      <tr>
       <td align="center">日期</td>
       <td>
        <input type="text" name="sort" value="2016-11-26" size="5" class="inpMain" />
       </td>
      </tr>
      <tr>
       <td></td>
       <td>
        <input type="hidden" name="token" value="5a58b748" />
        <input type="submit" name="submit" class="btn" value="提交" />
       </td>
      </tr>
     </table>
    </form>
                 
 </div>

 <div class="clear"></div>


<div class="clear"></div> </div>

</body>
</html>