
 <div id="dcMain"> <!-- 当前位置 -->
<div id="urHere"><a href="__MODULE__/Index/index.html">首页</a><b>></b><strong>学习管理</strong> </div>   <div id="manager" class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
    <h3><a href="__MODULE__/Study/lists" class="actionBtn">返回列表</a>内容列表</h3>
    <form method="post" action="__MODULE__/Study/doAdd" enctype="multipart/form-data">
     <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
      <tr>
       <td align="center">学习类型</td>
       <td>
        <select name="scid">
            <!-- <option value="0">未分类</option> -->
              <volist name="tags" id="t">
                <option value="{$t.scid}">- {$t.typescname}</option>
              </volist>
          </select>
       </td>
      </tr>
      <tr>
        <td align="center">标题</td>
        <td>
          <input type="text" name="studyname" cols="60" rows="4" class="inpMain" >
        </td>
      </tr>
      <tr>
        <td align="center">作者</td>
        <td>
          <input type="text" name="author" size="40" class="inpMain"  />
        </td>
      </tr>
      <tr>
       <td align="center">学习内容</td>
       <td>
        <textarea name="studycontent" cols="60" rows="4" class="textArea"></textarea>
       </td>
      </tr>
      <tr>
       <td align="center">添加时间</td>
       <td>
        <input type="text" name="addtime" value="{:date('Y-m-d H:i:s')}" size="5" class="inpMain"  />
       </td>
      </tr>
      <tr>
       <td></td>
       <td>
        <input type="hidden" name="token" value="25bfda40" />
        <input type="hidden" name="cat_id" value="" />
        <input name="submit" class="btn" type="submit" value="提交" />
       </td>
      </tr>
     </table>
    </form>
                 
 </div>

 <div class="clear"></div>


<div class="clear"></div> </div>

</body>
</html>