
 <div id="dcMain"> <!-- 当前位置 -->
<div id="urHere"><a href="__MODULE__/Index/index.html">首页</a><b>></b><strong>学习管理</strong> </div>   <div id="manager" class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
    <h3><a href="__MODULE__/Study/lists" class="actionBtn">返回列表</a>编辑内容</h3>
    <form action="__MODULE__/Study/update" method="post" enctype="multipart/form-data">
      <input type="hidden" name="studyid" value="{$study.studyid}">

      <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
        <tr>
          <td align="center">学习类型</td>
          <td>
            <select name="scid" value="{$study.scid}">
              <volist name="data" id="t">
                <option value="{$t.scid}">- {$t.typescname}</option>
              </volist>
            </select>
          </td>
        </tr>
         <tr>
          <td width="80" align="center">标题</td>
          <td>
            <input type="text" name="studyname" size="40" class="inpMain" value="{$study.studyname}" />
          </td>
        </tr>
        <tr>
          <td align="center">作者</td>
          <td>
            <input type="text" name="author" size="40" class="inpMain" value="{$study.author}" />
          </td>
        </tr>
        <tr>
          <td align="center">内容</td>
          <td>
            <textarea name="content" cols="60" rows="4" class="textArea">{$study.studycontent}</textarea>
          </td>
        </tr>
        <tr>
          <td align="center">修改时间</td>
          <td>
            <input type="text" name="addtime" size="5" class="inpMain" value="{:date('Y-m-d H:i:s')}" />
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <input name="submit" class="btn" type="submit" value="提交" />
          </td>
        </tr>
      </table>
    </form>
 </div>

 <div class="clear"></div>

<div class="clear"></div> </div>

</body>
</html>