{__NOLAYOUT__}
<html>
	<head>
        <meta charset="utf-8">
    
		<title>学习</title>
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<link rel="stylesheet" href="__PUBLIC__/front/css/jquery.mobile-1.4.5.min.css" />
        <link rel="stylesheet" href="__PUBLIC__/front/css/study.css">
    	<script src="__PUBLIC__/front/js/jquery-2.2.2.js"></script>
    	<script src="__PUBLIC__/front/js/jquery.mobile-1.4.5.min.js"></script>
	</head>
	<body>
		<div data-role="page" id="pageone">
	        <div data-role="header" id="col" data-position="fixed">
	            <h1>熊孩子</h1>
	            <a href="__MODULE__/Login/index" data-role="button" rel="external">返回</a>
	        </div>

	        <div data-role="content" id="cont">
	            <div id="img"></div>
	            <div id="content">
	            	<div class="ui-grid-b">
			            <div class="ui-block-a" id="wenzi">
			                <a href="__MODULE__/Study/study_gushi" rel="external"><div id="a1"></div>
			                <p>古诗</p>
			                </a>
			            </div>
			            <div class="ui-block-b" id="wenzi">
			                <a href="__MODULE__/Study/study_chengyu" rel="external"><div id="a2"></div>
			                <p>成语</p>
			                </a>
			            </div>
			            <div class="ui-block-c" id="wenzi">
			                <a href="__MODULE__/Study/study_color" rel="external"><div id="a3"></div>
			                <p>颜色</p>
			                </a>
			            </div>
			        </div>
			        <div class="ui-grid-b">
			            <div class="ui-block-a" id="wenzi">
			                <a href="__MODULE__/Study/study_gongju" rel="external"><div id="a4"></div>
			                <p>交通工具</p>
			                </a>
			            </div>
			            <div class="ui-block-b" id="wenzi">
			                <a href="__MODULE__/Study/study_zimu" rel="external"><div id="a5"></div>
			                <p>字母</p>
			                </a>
			            </div>
			            <div class="ui-block-c" id="wenzi">
			                <a href="__MODULE__/Study/study_danci" rel="external"><div id="a6"></div>
			                <p>单词</p>
			                </a>
			            </div>
			        </div>
			        <div class="ui-grid-b">
			            <div class="ui-block-a" id="wenzi">
			                <a href="__MODULE__/Study/study_shucai" rel="external"><div id="a7"></div>
			                <p>蔬菜</p>
			                </a>
			            </div>
			            <div class="ui-block-b" id="wenzi">
			                <a href="__MODULE__/Study/study_fruit" rel="external"><div id="a8"></div>
			                <p>水果</p>
			                </a>
			            </div>
			            <div class="ui-block-c" id="wenzi">
			                <a href="__MODULE__/Study/study_animal" rel="external"><div id="a9"></div>
			                <p>动物</p>
			                </a>
			            </div>
			        </div>
	            </div>
	        </div>

	        
	    </div> 
	</body>
</html>